html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

div.query-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

form.form-container {
  max-width: 350px;
  flex: 1;
}

div.output-container {
  flex: 1;
  height: 200px;
  width: 300px;
  overflow: hidden;
}

div.output-container.expanded {
  height: 100%;
  width: 100%;
  overflow: visible;
}

pre.queryOutput.expanded {
  height: 100%;
  width: 100%;
  overflow: visible;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.app-title {
  font-family: 'Jomhuria';
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

label.form-label {
  margin: 0;
  margin-top: 10px;
  font-family: 'Jomhuria';
  font-weight: 600;
}

.form-control {
  max-width: 450px;
}

h1.team-title {
  color: #404565;
  font-family: 'Jomhuria';
  font-weight: 600;
  text-align: center;
}

img.warmseat-logo {
  width: 60px;
  height: 50px;
}

span.navbar-brand {
  display: flex;
  padding: 0;
  height: 48px;
  margin-right: 10px;
  align-items: center;
}

.text-icon {
  color: #cbc4ca;  
  font-size: 25px;
  font-family: 'Jomhuria';
}

p.text-icon {
  margin: 0;
  height: 40px;
}

img.about-pic {
  width: 300px;
  height: 300px;
  align-self: center;
  border-radius: 10%;
}

a.links {
  margin-left: 3px;
  background-image: none;
  color: #404565;
  text-decoration: none;
  font-family: 'Jomhuria', cursive;
}

a.links:hover {
  color: #404565;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background 0.3s;
}

div#team {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.about-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0 5px;
  margin-top: 5px;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  color: #404565;
  background-color: #cbc4ca;
}

div.card ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

pre.queryOutput,
div.history-container {
  padding: 20px;
  margin: 10px;
  border: 0;
  border-radius: 8px;
  font-family: 'Jomhuria';
  font-size: 15px;
  color: #404565;
  background-color: #cbc4ca;
  text-align: left;
  white-space: pre-wrap;
  max-height: 100%;
  /* word-wrap: break-word;
  overflow-wrap: break-word; */
}

button.query-btn {
  align-items: center;
  margin-top: 8px;
  border: 0;
  border-radius: 8px;  
  box-sizing: border-box;
  border-color: linear-gradient(144deg,#dec62d, #32303a 50%,#dec62d);
  color: #FFFFFF;
  font-family: 'Jomhuria';  
  font-size: 15px;
  line-height: 1em;
  padding: 5px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

button.query-btn:hover {
  background-image: linear-gradient(144deg,#dec62d, #32303a 50%,#dec62d);
}
