html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #999393;
}

hr.border {
  margin: 0;
}

div.query-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
}

form.form-container {
  max-width: 350px;
  flex: 1;
}

input.form-control {
  font-family: 'Jomhuria';
  font-size: 15px;
}

div.output-container {
  flex: 1;
  height: 200px;
  width: 300px;
  overflow: hidden;
}

div.output-container.expanded {
  height: 100%;
  width: 100%;
  overflow: visible;
}

pre.queryOutput.expanded {
  height: 100%;
  width: 100%;
  overflow: visible;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.app-title {
  font-family: 'Jomhuria';
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

label.form-label {
  margin: 0;
  margin-top: 10px;
  font-family: 'Jomhuria';
  font-weight: 600;
}

.form-control {
  max-width: 450px;
}

h1.team-title {
  font-family: 'Jomhuria';
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

img.warmseat-logo {
  width: 55px;
  height: 50px;
  margin-right: 3px;
  margin-left: 5px;
}

span.navbar-brand {
  display: flex;
  padding: 0;
  height: 48px;
  margin-right: 10px;
  align-items: center;
}

.text-icon {
  font-size: 25px;
  font-family: 'Jomhuria';
}

p.text-icon {
  margin: 0;
  margin-top: 5px;
  height: 40px;
}

div.ml-auto.navbar-nav {
  margin-top: 6px;
}

a.nav-link {
  font-size: 18px;
  font-family: 'Jomhuria';
  color: #000000;
}

a.nav-link:hover {
  color: #000000;
  background-image: linear-gradient(144deg,#b8b7b8, #b8b7b8 50%,#32303a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background 0.3s;
}

img.about-pic {
  width: 300px;
  height: 300px;
  margin-top: 5px;
  align-self: center;
  border-radius: 5%;
}

img.loader-img {
  width: 70px;
  height: 70px;
  align-self: center;
  margin: 10px;
  animation: moveRight 5s linear infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(250%);
  }
}

a.links {
  margin-left: 3px;
  background-image: none;
  color: #404565;
  text-decoration: none;
  font-family: 'Jomhuria', cursive;
}

a.links:hover {
  color: #404565;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: background 0.3s;
}

div#team {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.about-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0 5px;
  margin-top: 5px;
  padding: 10px;
  align-items: center;
  border-radius: 8px;
  background-color: #b8b7b8;
}

div.card ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

pre.queryOutput {
  padding: 20px;
  margin: 10px;
  border: 0;
  border-radius: 8px;
  font-family: 'Jomhuria';
  font-size: 15px;
  background-color: #b8b7b8;
  text-align: left;
  white-space: pre-wrap;
  max-height: 700px;
  overflow-y: scroll;
  /* word-wrap: break-word;
  overflow-wrap: break-word; */
}

div.history-container {
  padding: 10px;
  margin: 10px;
  border: 0;
  border-radius: 8px;
  font-family: 'Jomhuria';
  font-size: 15px;
  background-color: #b8b7b8;
  text-align: left;
  white-space: pre-wrap;
  max-height: 400px;
  overflow-y: scroll;
  /* word-wrap: break-word;
  overflow-wrap: break-word; */
}

ul {
  margin-right: 10px;
}

button.query-btn,
button.signOut-btn {
  align-items: center;
  margin-top: 8px;
  border: 0;
  border-radius: 8px;  
  box-sizing: border-box;
  border-color: linear-gradient(144deg,#b8b7b8, #32303a 50%,#b8b7b8);
  color: #FFFFFF;
  font-family: 'Jomhuria';  
  font-size: 17px;
  height: 25px;
  width: 75px;
  padding: 1px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

button.query-btn:hover,
button.signOut-btn:hover {
  background-image: linear-gradient(144deg,#b8b7b8, #32303a 50%,#b8b7b8);
}

